@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Hanken Grotesk', sans-serif;
}

main{
    width: 700px;
    height: 500px;
    display: flex;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result-left{
    padding: 1rem;
    width: 50%;
    border-radius: 1.5rem;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.result-right{
    width: 50%;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    box-shadow: 1rem 0.5rem 1rem rgba(0,0,0,0.2);
}

.result-left-header{
    display: flex;
    justify-content : center;
    padding: 2rem;
}

.result-title{
    color :hsl(241, 100%, 89%);
}

.result-circle{
    width : 200px;
    height : 200px;
    border-radius: 50%;
    background-image: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-left-content{
    display : flex;
    justify-content : center;
    text-align: center;
}

.of-hundred{
    font-size: 0.8rem;
    color: hsl(241, 100%, 89%);
   
}

.number{
    font-size: 3rem;
    color: white;
}

.result-left-footer-title{
    color: white;
}

.result-left-footer-description{
    color : hsl(241, 100%, 89%);
}

.result-left-footer{
    margin-top: 1rem;
    display: flex;
    justify-content : center;
    text-align: center;
}